@mixin base-font {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #333;
}

body {
    @include base-font;
}

main {

    padding: 30px;
    max-width: 800px;

    > section {
        margin-bottom: 40px;
    }

}

ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;

    li {
        position: relative;
        padding: 8px 0;
        margin-right: 20px;
    }

}

*:focus {
    outline: 0;
}

.form-item {
    position: relative;
}

.btn, .tab {

    position: relative;
    padding: 8px 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: transparent;
    @include base-font;
    cursor: pointer;
    text-decoration: none;
    -webkit-appearance: none;

    &:hover {
        background-color: #e6e6e6;
    }

    &[data-toggle-active="true"],
    &[aria-expanded="true"] {

        //border-color: #8c8c8c;
        background-color: #f6f6f6;

        &:hover {
            //border-color: #ccc;
            background-color: #e6e6e6;
        }

    }

}

.legend {
    font-weight: 500;
}

.form-items-inline {

    display: flex;

    .form-item {
        margin-left: 20px;
    }

}

.box {

    position: relative;
    display: block;
    margin: 20px 0 0 0;
    padding: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;

    &[data-toggle-active="false"],
    &[aria-hidden="true"] {
        display: none;
    }

    &[aria-hidden="false"] {
        margin-top: 19px;
    }

}

.tabs {

    li {

        position: relative;
        z-index: 1;
        margin-right: -1px;

        .tab {
            border-radius: 0;
        }

        &:first-child .tab {
            border-top-left-radius: 4px;
        }

        &:last-child .tab {
            border-top-right-radius: 4px;
        }

        .tab[aria-selected="true"] {

            border-bottom-color: #fff;

            &:hover {
                background-color: transparent;
            }

        }

    }

}

.tab-panels {
    margin-top: 0;
    border-top-left-radius: 0;
}

.tab-panel {

    &[aria-hidden="true"] {
        display: none;
    }

}

.arrow[data-toggle-active="true"],
.arrow[aria-expanded="true"] {
    &:after, &:before {
        content: '';
        bottom: -21px;
        left: 9px;
    	border: solid transparent;
    	height: 0;
    	width: 0;
    	position: absolute;
        z-index: 1;
    }
}

.arrow[data-toggle-active="true"]:after,
.arrow[aria-expanded="true"]:after {
	border-color: transparent;
	border-bottom-color: #fff;
	border-width: 9px;
	margin-left: -9px;
}
.arrow[data-toggle-active="true"]:before,
.arrow[aria-expanded="true"]:before {
	border-color: transparent;
	border-bottom-color: #ccc;
	border-width: 10px;
	margin-left: -10px;
}

input[type="radio"] {
    vertical-align: top;
}

.btn.arrow[data-toggle-active="true"],
.arrow[aria-expanded="true"] {
    &:after, &:before {
        left: 50%;
    }
}
