# IDE's
.idea
.project
*.sublime-*


# Node.js
node_modules
npm-debug.log


# Build and test tools
*.zip
dist/components
dist/layout
dist/static
dist/index.html

# Cache
.sass-cache
.cache


# Operating system
.DS_Store
Thumbs.db


# Other
docs/sassdoc
.env