@mixin arrow($color: #e6e6e6, $size: 18px, $direction: top) {

    display: block;
    content: '';
    height: 0;
    width: 0;
    pointer-events: none;
    border: $size/2 solid transparent;

    @if $direction == top {
        border-bottom-color: $color;
        margin-left: $size/-2;
    } @else if $direction == bottom {
        border-top-color: $color;
        margin-left: $size/-2;
    } @else if $direction == left {
        border-right-color: $color;
        margin-top: $size/-2;
    } @else if $direction == right {
        border-right-color: $color;
        margin-top: $size/-2;
    }

}
