<div id="collapsible-01" data-module="ui/ToggleGroup" data-options='{"triggerSelector":"#collapsible-01 h2","panelSelector":"#collapsible-01 .accordion-panel","triggerMethod":"switch","toggleType":"Collapsible"}' class="accordion">
    <div>
        <h2>Panel 1</h2>
        <div class="accordion-panel">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam mattis lacinia rhoncus. Aenean ullamcorper lorem eu turpis faucibus, id congue orci varius.
        </div>
    </div>
    <div>
        <h2>Panel 2</h2>
        <div class="accordion-panel">
            Sed varius est ut sapien interdum, sed porta velit efficitur. Suspendisse id facilisis diam. Sed mattis lectus non semper aliquam. Morbi egestas arcu ut purus ullamcorper, et pretium urna congue.
        </div>
    </div>
    <div>
        <h2>Panel 3</h2>
        <div class="accordion-panel">
            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras ante augue, mollis in gravida in, tempor a sem. Fusce sollicitudin urna eget mauris tempus, ut cursus ante bibendum. Ut quis volutpat erat
        </div>
    </div>
</div>