<div class="collapsible-wrapper">
    <h2 id="collapsible-trigger" data-module="toggle/Trigger" data-options='{"targets":"collapsible-content"}' class="collapsible-trigger">Collapse content</h2>
    <div id="collapsible-content" data-module="ui/Collapsible" class="collapsible">
        <p class="collapsible-inner">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tortor felis, eleifend at ante in, tristique malesuada velit. Praesent in lectus id turpis hendrerit faucibus. Sed sit amet arcu nisi.</p>
    </div>
</div>