<ul id="tabs" role="tablist" data-module="ui/ToggleGroup" data-options='{"triggerSelector":".tabs a","panelSelector":".tab-panels > section","triggerMethod":"activate"}' class="tabs">
    <li role="presentation">
        <a href="#tab-panel-1" role="tab" aria-controls="tab-panel-1" aria-selected="true">Tab 1</a>
    </li>
    <li role="presentation">
        <a href="#tab-panel-2" role="tab" aria-controls="tab-panel-2">Tab 2</a>
    </li>
    <li role="presentation">
        <a href="#tab-panel-3" role="tab" aria-controls="tab-panel-3">Tab 3</a>
    </li>
</ul>
<div id="tabs-section" class="tab-panels">
    <section role="tabpanel" aria-hidden="false"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam mattis lacinia rhoncus. Aenean ullamcorper lorem eu turpis faucibus, id congue orci varius.</p></section>
    <section role="tabpanel"><p>Sed varius est ut sapien interdum, sed porta velit efficitur. Suspendisse id facilisis diam. Sed mattis lectus non semper aliquam. Morbi egestas arcu ut purus ullamcorper, et pretium urna congue.</p></section>
    <section role="tabpanel"><p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras ante augue, mollis in gravida in, tempor a sem. Fusce sollicitudin urna eget mauris tempus, ut cursus ante bibendum. Ut quis volutpat erat.</p></section>
</div>