{% highlight 'html' %}
<a id="trigger-alpha"
   data-module="toggle/Trigger"
   data-options='{"targets":"toggle-content-alpha","group":"trigger-group","toggle":true}'>...</a>

<a id="trigger-beta"
   data-module="toggle/Trigger"
   data-options='{"targets":"toggle-content-beta","group":"trigger-group","toggle":"true"}'>...</a>

<p id="toggle-content-alpha"
   data-module="toggle/Toggle"
   data-options='{"group":"toggle-content-group"}'>...</p>

<p id="toggle-content-beta"
   data-module="toggle/Toggle"
   data-options='{"group":"toggle-content-group"}'>...</p>
{% endhighlight %}