{% extends 'layout/default.html' %}

{% block body %}

<main>

    <section>
        <button id="toggle-self" data-module="toggle/Trigger" data-options='{"toggle":"true"}' class="btn">I toggle myself</button>
    </section>

    <section>
        <div role="radiogroup" aria-labelledby="group-label-radio" class="form-items-inline">
            <span id="group-label-radio" class="legend" tabindex="-1">Toggle content</span>

            <div class="form-item">
                <input type="radio" name="radio" id="radio-on" aria-labelledby="radio-on-label" data-module="toggle/Trigger" data-options='{"event":"change","method":"activate","targets":"toggle-content","toggle":true}' class="arrow">
                <label for="radio-on" id="radio-on-label">On</label>
            </div>

            <div class="form-item">
                <input type="radio" name="radio" id="radio-off" aria-labelledby="radio-off-label" data-module="toggle/Trigger" data-options='{"event":"change","method":"deactivate","targets":"toggle-content,radio-on"}'>
                <label for="radio-off" id="radio-off-label">Off</label>
            </div>
        </div>
        <p id="toggle-content" data-module="toggle/Toggle" class="box">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas dignissim mauris ac nunc consectetur, ac consectetur sem posuere. Maecenas lorem quam, lacinia in mauris eget, porttitor pellentesque lacus. Vivamus consectetur porta mauris, non semper dui pretium eget.</p>
    </section>

    <section>
        <ul>
            <li><a href="#toggle-content-alpha" id="trigger-alpha" data-module="toggle/Trigger" data-options='{"targets":"toggle-content-alpha","group":"trigger-group","toggle":true}' class="btn arrow">Show content alpha</a></li>
            <li><a href="#toggle-content-beta" id="trigger-beta" data-module="toggle/Trigger" data-options='{"targets":"toggle-content-beta","group":"trigger-group","toggle":"true"}' class="btn arrow">Show content beta</a></li>
        </ul>
        <p id="toggle-content-alpha" data-module="toggle/Toggle" data-options='{"group":"toggle-content-group"}' class="box">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tortor felis, eleifend at ante in, tristique malesuada velit. Praesent in lectus id turpis hendrerit faucibus. Sed sit amet arcu nisi. Etiam pellentesque lectus et metus suscipit, nec volutpat justo auctor. Praesent lorem ante, scelerisque eget euismod imperdiet, dignissim vel velit. Nunc quis convallis ipsum, sed maximus ipsum.</p>
        <p id="toggle-content-beta" data-module="toggle/Toggle" data-options='{"group":"toggle-content-group"}' class="box">In vel elit pulvinar, laoreet augue sit amet, maximus ligula. Duis eu ex nibh. Quisque tempor metus mi, nec pretium odio finibus at. Aenean in nulla non leo sodales porta. Phasellus gravida aliquet mattis. Aenean eu scelerisque nunc. Donec molestie tempor ligula nec pulvinar. Integer vel enim sodales mi iaculis posuere ac id augue. Etiam feugiat nulla id felis porta interdum. Sed sollicitudin libero a lectus convallis hendrerit.</p>
    </section>

    <!--
    <section>
        <button id="trigger-gamma" aria-controls="toggle-content-gamma" data-module="toggle/Trigger" data-options='{"targets":"toggle-content-gamma","attribute":"aria-expanded","toggle":"true"}' class="btn arrow">Show content</button>
        <p id="toggle-content-gamma" data-module="toggle/Toggle" data-options='{"attribute":"aria-hidden","activeState":"false","inActiveState":"true"}' class="box">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
    </section>

    <section>
        <ul id="tabs" role="tablist" data-module="ui/ToggleGroup" data-options='{"triggerSelector":"#tabs .tab","panelSelector":"#tabs-section .tab-panel","triggerMethod":"activate"}' class="tabs">
            <li role="presentation">
                <a href="#tab-panel-1" role="tab" aria-controls="tab-panel-1" aria-selected="true" class="tab">Tab 1</a>
            </li>
            <li role="presentation">
                <a href="#tab-panel-2" role="tab" aria-controls="tab-panel-2" class="tab">Tab 2</a>
            </li>
            <li role="presentation">
                <a href="#tab-panel-3" role="tab" aria-controls="tab-panel-3" class="tab">Tab 3</a>
            </li>
        </ul>
        <div id="tabs-section" class="box tab-panels">
            <section role="tabpanel" class="tab-panel" aria-hidden="false">Content tab 1</section>
            <section role="tabpanel" class="tab-panel">Content tab 2</section>
            <section role="tabpanel" class="tab-panel">Content tab 3</section>
        </div>
    </section>-->

</main>

{% endblock %}
